.card-sec{
    margin-top: 100px;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
 }

 .card-sec-heading{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: bold;
 }
 